input {
    background-color: black;
    color: white;
    height: 40px;
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #5B5A5A;
    transition-duration: 0.4s;
}

input:focus {
    background-color: #18181c;
}

input[type="number"] {
    color: #949496;
}

.inputLabelHighlighted {
    background-color: #18181c;
}

.halfInput{
    width: 50%;
}

.quarterInput{
    width: 25%;
}

