.centerStyle {
    margin: 0 auto;
    text-align: center;
}

.redAttention{
    box-shadow: 0px 0px 10px red;
    border: none;
}

.optionsDiv {
    width: 60%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    position: relative;
}

.optionsDiv>div {
    /*Child elements of any element with className = optionsDiv, that is a div*/
    flex: 1;
    border: 1px solid grey;
    transition-duration: 0.4s;
    /* padding: 5px; */
}

.optionsDiv>div:hover {
    background-color: #18181c;
}

select {
    width: 20%;
    background: black;
    color: #949496;
    font-size: 15px;
    border: none;

    /*This makes the background color of the drop down options also have no background*/
    background: none;
}

html {
    background-color: black;
    color: white;
}

h1 {
    margin-top: 20%;
    font-size: 50px;
}

#confirmSettingsButton {
    margin-top: 15px;
    height: 15%;
}

#colorSelectorDivTitle {
    width: 100%;
    height: 10%;
    border: 1px solid red;
}

#colorSelectorDivOptions {
    width: 100%;
    height: 80%;
}

.colorOption {
    /*Allows the elements of the same class to be added side-by-side*/
    display: inline-block;
    width: 20%;
    height: 17%;
    margin-right: 2.5px;
    margin-left: 2.5px;
    transition-duration: 0.4s;
}

.colorOption:hover {
    border-radius: 20px;
}

.selectedColorOption {
    opacity: 5%;
}

.selectedColorOption:hover {
    border-radius: 0px;
}

#lobbyChatOutput, #renderedUserNamesDiv{
    width: 98%;
    height: 65%;
    overflow: auto;
}

#lobbyChatOutput{ 
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
}

/*Ruleset positions the element at the bottom right of the window*/
#numPlayersConnectedIndicator{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}