.centerStyle {
    margin: 0 auto;
    text-align: center;
}

/*Button Classes*/
.affirmativeButton {
    background-color: green;
}

.generalButton {
    background-color: #d4af6a;
}

.returnButton {
    background-color: #303360
}

.disabledButton {
    filter: brightness(50%);
}

.disabledButton:hover {
    filter: brightness(50%);
}

.title{
    margin-top: 5%;
}

button:hover {
    filter: brightness(120%);
}

.optionsDiv {
    width: 40%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.optionsDiv>div {
    /*Child elements of any element with className = optionsDiv, that is a div*/
    flex: 1;
    border: 1px solid grey;
    transition-duration: 0.4s;
    padding: 5px;
}

.optionsDiv>div:hover {
    background-color: #18181c;
}


#attributeOptionsDiv>input,
#connectedPlayersDiv>input {
    font-size: 15px;
    margin-top: 5px;
    height: 20px;
    margin-bottom: 5px;
    background: none;
}

select {
    width: 20%;
    background: black;
    color: #949496;
    font-size: 15px;
    border: none;

    /*This makes the background color of the drop down options also have no background*/
    background: none;
}

/*'Input labels are read only input elements. They are pretty must just a jury-rigged label'*/
.optionsDivInputLabel {
    width: 100%;
}

.optionsDivSmallInputLabel {
    width: 50%;
}

/*'Inputs' actually hold a value that can be manipulated*/
.optionsDivSmallInput {
    width: 20%;
}

html {
    background-color: black;
    color: white;
}

button {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: white;
    border: none;
    transition-duration: 0.4s;
}

h1 {
    margin-top: 20%;
    font-size: 50px;
}

#confirmSettingsButton {
    margin-top: 15px;
    height: 15%;
}

#colorSelectorDivTitle {
    width: 100%;
    height: 10%;
    border: 1px solid red;
}

#colorSelectorDivOptions {
    width: 100%;
    height: 80%;
}

.colorOption {
    /*Allows the elements of the same class to be added side-by-side*/
    display: inline-block;
    width: 20%;
    height: 17%;
    margin-right: 2.5px;
    margin-left: 2.5px;
    transition-duration: 0.4s;
}

.colorOption:hover {
    border-radius: 20px;
}

.selectedColorOption {
    opacity: 5%;
}

.selectedColorOption:hover {
    border-radius: 0px;
}