#bottomBar{
    background-color: black;
    display: flex;
    flex: 1;
}

#bottomBar h1{
    font-size: 28px;
    margin-top: 5px;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
}

#bottomBar h3{
    margin-left: 10px;
}

#bottomBar p{
    margin-left: 10px;
}

#bottomBar table{
    margin-left: 10px;
    width: 25%;
}

#bottomBar div{
    background-color: black;
    flex: 1;
    border-right: 1px solid white;
}