.subComponentCommon {
    text-align: center;
    border: 1px solid white;
    color: lightgray;
}

.subComponentSmaller {
    flex: 1
}

.subComponentRegular {
    flex: 2
}

.subComponentFlex {
    display: flex;
    flex-direction: column;
}